.Flex-Center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Stack-Overflow-Button {
    background-color: #ED7A1B;
    color: white;
}

.Stack-Overflow-Button:hover {
    border: 1px solid #cc6714;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
}

.Google-Button {
    background-color: #f8f9fa;
    color: #3c4043;
}

.Google-Button:hover {
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

.Button {
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.Button-Animation {
    display: flex;
    flex-direction: column;
    max-width: 152px;
    max-height: 38px;
    overflow: hidden;
}

.Button-Container {
    display: flex;
    flex-direction: column;
    transform: translateY(-10px);
    transition-duration: 0.4s;
    animation-name: SlideIn;
    animation-duration: 0.2s;
    animation-delay: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes SlideIn {
    from {transform: translateY(-10px);}
    to {transform: translateY(-68px);}
}